h1{
    color: white;
    text-align: center;
    font-size: max(5.25vw, 5.5vh);
}

label {
    color: white;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    font-size: max(2.1vw, 2.25vh);
}

.labeltext {
    color: white;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.button {
    transform: scale(2);
    display: block
}

.filebutton {
    margin: 0; 
    width: 100px;
    height: 50px;
    display: none;
    justify-content: center;
    transform: scale(1.5)
}

div{
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(48, 149, 243); 
    background-image: linear-gradient(rgb(48, 149, 243), rgb(36, 212, 168), rgb(175, 132, 243),rgb(48, 149, 243));
    background-repeat: repeat; 
    background-size: cover; 
    flex-direction: column;
}

textarea {
    width: 60vw;
    height: 40vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: both;

}

.errormessage{
    color: red;
    text-align: center;
}